.user-dashboard {
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

.details-card {
  display: flex;
  justify-content: center;
  align-items: center;

  
}
.user-icon{
    font-size: 170px;
}
.container{
    display: flex;
    gap: 1rem;
    margin-top: 5rem;
    border-radius: 4px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.user-title{
    color: rgb(6, 6, 74);
    text-align: center;
}
h4{
     color: rgb(8, 8, 83);
}
.user-value{
    color: rgb(10, 10, 145);
}
.nav-user{
    padding-left: 1rem;
}
.back-btn{
    padding: 8px 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 3px;
    /* background-color: blue; */
}

@media screen and (max-width:668px){
    .container{
        margin-left: 1rem;
    }

}